<!DOCTYPE html>
<html>
<head>
	<title>exkite</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style1.css" media="screen" title="no title" charset="utf-8">
	<link href='https://fonts.googleapis.com/css?family=Orbitron:400,700,500,900' rel='stylesheet' type='text/css'>
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="js/chart.js"></script>
	<script src="js/logic.js"></script>
	<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
	<script src="js/map.js"></script>
	<link href="css/bootstrap-switch.css" rel="stylesheet">
	<script src="js/bootstrap-switch.js"></script>
	<style>
		body {
			background: #333;
		}
		p {
			color: white;
			font-family: 'Orbitron', sans-serif;
		}
		h1 {
			font-family: 'Orbitron', sans-serif;
			font-weight: 400;
			margin-top: 10px;
			color: #333;
			background-color: #ffffff;
			padding-top: 8px;
			font-size: 48px;
		}
		.btn {
			font-family: 'Orbitron', sans-serif;
		}
		.bootstrap-switch {
			font-family: 'Orbitron', sans-serif;
		}
		img {
			height: 48px;
			color: #333;
		}
		.jscolor {
			opacity: .9;
			border: 3px solid #ffffff;
			border-radius: 5px;
			width: 90%;
			margin: 0 auto;
			text-align: center;
			height: 50px;
		}
		.jscolor:hover {
			opacity: 1;
		}
		.row {
			width: 91%;
			margin: 0 auto;
			margin-top: 10px;
		}
		.col-md-6 {
			margin: 0;
			padding: 5px;
			height: 100%;
		}
		.thumbnail {
			border: 3px solid #ffffff;
			border-radius: 5px;
			background-color: #333;
		}
		.data {
			display: flex;
			flex-direction: row;
			width: 90%;
			margin: 0 auto;
			margin-bottom: 20px;
			overflow-x: scroll;

		}
		.map {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		.google-map {
			margin: 0 auto;
			max-width: 100%;
			overflow-x: scroll;
		}
	</style>
	<style>
		/* ========================================================================
 * bootstrap-switch - v3.3.2
 * http://www.bootstrap-switch.org
 * ========================================================================
 * Copyright 2012-2013 Mattia Larentis
 *
 * ========================================================================
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */

		.bootstrap-switch {
			display: inline-block;
			direction: ltr;
			cursor: pointer;
			border-radius: 4px;
			border: 1px solid;
			border-color: #cccccc;
			position: relative;
			text-align: left;
			overflow: hidden;
			line-height: 8px;
			z-index: 0;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			vertical-align: middle;
			-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		.bootstrap-switch .bootstrap-switch-container {
			display: inline-block;
			top: 0;
			border-radius: 4px;
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
		.bootstrap-switch .bootstrap-switch-handle-on,
		.bootstrap-switch .bootstrap-switch-handle-off,
		.bootstrap-switch .bootstrap-switch-label {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			cursor: pointer;
			display: inline-block !important;
			height: 100%;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 20px;
		}
		.bootstrap-switch .bootstrap-switch-handle-on,
		.bootstrap-switch .bootstrap-switch-handle-off {
			text-align: center;
			z-index: 1;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
			color: #fff;
			background: #337ab7;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
			color: #fff;
			background: #5bc0de;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
			color: #fff;
			background: #5cb85c;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
			background: #f0ad4e;
			color: #fff;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
			color: #fff;
			background: #d9534f;
		}
		.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
		.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
			color: #000;
			background: #eeeeee;
		}
		.bootstrap-switch .bootstrap-switch-label {
			text-align: center;
			margin-top: -1px;
			margin-bottom: -1px;
			z-index: 100;
			color: #333333;
			background: #ffffff;
		}
		.bootstrap-switch .bootstrap-switch-handle-on {
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
		}
		.bootstrap-switch .bootstrap-switch-handle-off {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}
		.bootstrap-switch input[type='radio'],
		.bootstrap-switch input[type='checkbox'] {
			position: absolute !important;
			top: 0;
			left: 0;
			margin: 0;
			z-index: -1;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
			padding: 1px 5px;
			font-size: 12px;
			line-height: 1.5;
		}
		.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
			padding: 5px 10px;
			font-size: 12px;
			line-height: 1.5;
		}
		.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
			padding: 6px 16px;
			font-size: 18px;
			line-height: 1.3333333;
		}
		.bootstrap-switch.bootstrap-switch-disabled,
		.bootstrap-switch.bootstrap-switch-readonly,
		.bootstrap-switch.bootstrap-switch-indeterminate {
			cursor: default !important;
		}
		.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
		.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
		.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
		.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
		.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
			opacity: 0.5;
			filter: alpha(opacity=50);
			cursor: default !important;
		}
		.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
			-webkit-transition: margin-left 0.5s;
			-o-transition: margin-left 0.5s;
			transition: margin-left 0.5s;
		}
		.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}
		.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
		}
		.bootstrap-switch.bootstrap-switch-focused {
			border-color: #66afe9;
			outline: 0;
			-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
			box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		}
		.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
		.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
			border-bottom-right-radius: 3px;
			border-top-right-radius: 3px;
		}
		.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
		.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
			border-bottom-left-radius: 3px;
			border-top-left-radius: 3px;
		}
	</style>

</head>
<body style="text-align:center;" onload="init()">

	<h1>e<strong class="xk">xk</strong>ite <img src="images/kite.png" alt="" /></h1>

	<script src="js/jscolor.js"></script>

	<div class="color-picker"><input class="jscolor" value="ab2567"></div>

	<div class="row">
		<div class="col-md-6" id="google-line-chart">
			<div class="thumbnail">
				<div id="curve_chart" style="max-width: 100%; height: 250px"></div>
			</div>
		</div>
		<div class="col-md-6" id="controls-section">
			<div class="thumbnail">
				<h1>controls</h1>
				<div class="">
					<p>
						pattern
					</p>
					<div class="btn-group">
						<button type="button" data-switch-toggle="state" class="btn btn-default">constant</button>
						<button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default">strobe</button>
						<button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default">trail</button>
						<button type="button" data-switch-get="state" class="btn btn-default">random</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>GPS track</p>
						<input id="GPSCheckBox" type="checkbox" data-off-text="on" data-on-text="off" checked="on" class="BSswitch">
					</div>
					<div class="col-md-6">
						<p>
							color
						</p>
						<input id="TheCheckBox" type="checkbox" data-off-text="gyro" data-on-text="user" checked="gyro" class="BSswitch">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="thumbnail map">
		<div class="google-map" style='overflow:hidden;height:440px;width:100%;'>
			<div id='gmap_canvas' style='height:440px;width:100%;'></div>
			<div><small><a href="http://embedgooglemaps.com">	embed google maps</a></small></div>
			<div><small><a href="http://www.autohuren.world/">auto huren</a></small></div>
			<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		</div>
	</div>

	<script src="js/sizing.js"></script>

</body>
</html>
